.compairs {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    overflow: hidden;

    &>div {

        flex: auto;
        height: 648px;
        background-color: white;
        display: flex;
        flex-direction: column;

        .condition{
            color: white;

        }
        .colors{
            gap: 5px;
            span{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #FF705B;
            }
        }
        &:first-child {

            &>div {
                background-color: #F9F9F9;
                &:first-child {
                    background-color: white;
                    border-bottom: 2px solid #DEE2E5;
                }

                &:not(:first-child){
                    border-right: 1px solid  #DEE2E5;
                }

            }
        }

        &>div {
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            
            &:first-child{
                border-bottom-width: 2px !important;
                font-size: 20px !important;

            }
            &:not(:last-child) {
                border-bottom: 1px solid #DEE2E5;
            }
        }

    }
}

.conditionTrue{
    background-color: #49CFAD;
}
.conditionFalse{
    background-color: #FF705B;
}
